html, body {
    height: 100%;
    background-color: #222222;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}
    
.but{
    font-size: medium;
    background-color: transparent;
    color: whitesmoke;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}
.but:hover{
background-color: #8c8c8c;
color: #050801;
box-shadow: 0px 0px 5px #8c8c8c, 0px 0px 5px #8c8c8c, 0px 0px 5px #8c8c8c, 0px 0px 5px #8c8c8c;
}
    
.bord{
    padding: 50px;
    border-style: groove;
    border-color: whitesmoke;
    border-radius: 10px;
}